*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    background-color: #ebf2ff;
    font-family: "Josefin+Sans";
    overflow-x: hidden;
}

.Navbar{
    display: flex;
    background-color: #fff;
    justify-content: space-between;
    padding: 10px 20px;
    align-items: center;
}

.Navbar_item1{
    width: 100px;
}

.Navbar_logo{
    width: 100%;
}

.primary_button{
    background-image:linear-gradient(
        to right,
        #ff512f 0%,
        #dd2476 51%,
        #ff512f 100%
    ) ;
    border-radius: 8px;
    color: #fff;
    padding: 12px;
    border: none;
    font-weight: bold;
    cursor: pointer;
}
.hero_description{
    color: black;
}

.container{
    width: 100%;
    padding: 0px 15px;
    margin: 0px  auto;
}
.hero_container{
    margin: auto;
    width: 100%;
}

.hero_text{
    font-size: 30px;
    color: #1d3557;
    margin: 20px 0px;
}

.hero_container_image{
    position: relative;
    width: 100%;
}

.pattern1{
    position: absolute;
    right: 2;
}

.hero_image{
    width: 100%;
    position: absolute;
    right: auto;
    left: auto;
    z-index: 2;
}
h1{
    font-size: 25px;
}

.food_menu_card{
    width: 100%;
}

.food_image{
    width: 100%;
}

@media (min-width:768px){
    .Navbar{
        justify-content: space-between;
        padding: 10px;
    }
    .Navbar_logo{
        width: 150px;
    }
    .primary_button{
        padding: 13px;
        font-size: 20px;
    }
    
    .hero_container{
        display: flex;
        justify-content: center;
        flex-direction: row-reverse;
        align-items: center;
        gap: 10px;
    }

    .container{
        margin: 15px auto;
    }
    

    
}

@media (min-width:1020px){
    .container{
        max-width: 900px;
    }
    .hero_container{
        gap: 10px;
    }
    .hero_text{
        font-size: 35px;
    }
    
}

@media (min-width:1440px){
    .primary_button{
        padding: 10px 15px;
        border-radius: 15px;
        font-size: large;
    }

    .container{
        max-width: 1250px;
    }

    .hero_container{
        gap: 10px;
    }
    .hero_text{
        font-size: 45px;
    }
}


